<div class="row">
  <!-- <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height:80px;">
  </div> -->
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            Ingredients: {{ recipe.description }}
        </div>
        <div class="col-sm-8">
              <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height:80px;">
          </div>
        </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12">
    <span class="pull-right">
      Image:
      <img [src]=" image" alt="{{ image }}" class="img-responsive" style="max-height:50px;">
    </span>
  </div>
</div> -->